<ion-view view-title="لزوم اطاعت از تشکيلات">
  <ion-content>
	<div class="padding">
		<p>حضرت عبدالبهاء به ما مي آموزند كه در همة امور اجتماعي با محفل روحاني محل مشورت نمائيم. آنچه را كه محفل روحاني امر نمايد، به جان و دل بپذيريم و به خاطر حفظ وحدت و اتحاد جامعه اطاعت كنيم تا نظم و ترتيب در كارها ايجاد شود. اگر چنين نشود هركس "به هواي خويش حركتي كند و پروازي نمايد و ضرري برساند ". البته اين اطاعت بايد آگاهانه باشد، مانند مسافري که به ناخداي کشتي اطمينان کامل دارد و زمام امور را به او سپرده است. حضرت ولي امرالله در مورد لزوم اطاعت از تشکيلات نظم اداري مي فرمايند:</p>
		<p>«پذيرش امر الهي بدون نظام اداري اجتماعي آن، مانند قبول تعاليم الهي است منهاي مقام الوهي حضرت بهاءالله. بهايي بودن يعني پذيرفتن امرلله در کليت آن. انکار هر يک از اصول اساسيه به منزله انکار قدرت و سلطنت جمال اقدس ابهي است و لهذا به مثابه رد تماميت امرالله مي باشد. دستگاه اداري، همان نظام اجتماعي حضرت بهاءالله بوده، بدون آن کليه اصول امرالله عقيم خواهد ماند. لهذا اعتراض بر اين به منزله اعتراض بر ساختاري است که مظهر کلي الهي معين و مقرر فرموده اند و به معني تخطي و تجاوز از ناموس عظيم آن حضرت به شمار مي رود (9).»</p>
	</div>
</ion-view>
