<ion-view view-title="جايگاه نظم اداري بهايي">
  <ion-content>
	<div class="card">
	  <div class="item item-text-wrap">
		از ويژگي هاي عمومي هر ديانت آن است كه چون پاي نظام تشكيلاتي به ميان آمد، از نفوذ و تأثير روحاني باز ماند و نشاط و شادماني و روحانيت حقيقي از آن ديانت رخت بربست. اين نظام تشكيلاتي به جاي آن كه وسيله اي براي ترقي و پيشرفت آن ديانت گردد، جانشين آن شده است. علت اصلي اين مشكل آن است كه هيچ مظهر ظهوري پيش از اين، اصول و قوانيني را كه تشكيلات اداري ديانت بر آن استوار باشد، به طور صريح و قطعي تعيين و مقرر نكرده بود. يعني عالم بشري به آن مرحله از رشد نرسيده بود كه بتواند پذيراي اين قوانين و اصول تشكيلاتي باشد (1).
	  </div>
	</div>
    <ion-list>
      <ion-item ng-repeat="section in sections" href="{{section.url}}">
        {{section.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
