<ion-view view-title="فهرست منابع">
  <ion-content>
    <div class="padding">
	  1. جان اينترز اسلمونت، ظهور جديد براى عصر جديد، ص 283<br/>
	  2. حضرت ولي امرالله، دور بهايي (لجنه ملي آثار امري لانگهاين، آلمان 144 بديع)، صص 10 - 9<br/>
	  3. حضرت ولي امرالله، دور بهايي (لجنه ملي آثار امري لانگهاين، آلمان 144 بديع)، صص 16 - 14<br/>
	  4. حضرت ولي امرالله، دور بهايي (لجنه ملي آثار امري لانگهاين، آلمان 144 بديع)، صص 21 - 18<br/>
	  5. جان اينترز اسلمونت، ظهور جديد براى عصر جديد، ص 283<br/>
	  6. توقيع منيع نوروز 101 مندرج در اركان نظم بديع، ص 1<br/>
	  7. حضرت ولي امرالله، دور بهايي (لجنه ملي آثار امري لانگهاين، آلمان 144 بديع)، صص 10 - 9<br/>
	  8. جان اينترز اسلمونت، ظهور جديد براى عصر جديد، ص 286<br/>
	  9. توقيع منيع صادره از جانب حضرت ولي امراالله به محافل روحاني ايالات متحده آمريکا و کانادا، مورخ 30 مي 1930
	</div>
  </ion-content>
</ion-view>
