<ion-view view-title="منابع">
  <ion-content>
    <div class="list card">
	  <div class="item item-divider item-positive">
		<h1 class="text-center">ساختار مختصر نظم اداری</h1>	
	  </div>
	  <div class="item item-image">
		<img src="img/brief-structure.jpg">
	  </div>
	</div>
	
	<div class="list card">
	  <div class="item item-divider item-balanced">
		<h1 class="text-center">ساختار کامل نظم اداری</h1>		
	  </div>
	  <div class="item item-image">
		<img src="img/complete-structure.jpg">
	  </div>
	</div>
  </ion-content>
</ion-view>
